/* Variable */

:root {
  --backgroundColor: #141616;
  --textColor: #d6d2cd;
}

/* body */

body {
  background: url(/src/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */

.Title {
  color: var(--textColor);
  font-family: "Sour Gummy", sans-serif;
  text-shadow: 1px 1px 4px white;
  position: relative;
  top: 20px;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}

h2:hover {
  cursor: pointer;
}

.home-botton {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  position: relative;
  text-align: center;
  top: -10px;
  text-shadow: 1px 1px 15px white;
  font-size: 35px;
  color: var(--textColor);
}

.Clothing {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  position: relative;
  text-decoration: none;
  text-shadow: 1px 1px 10px white;
  color: var(--textColor);
  font-size: 25px;
  top: -100px;
  left: 750px;
}

.Nav-bar{
  position: relative;
  top: -50px;
}

.Clothing:hover,
.Contact:hover,
.shopNow:hover {
  color: white;
}

.Contact {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  position: relative;
  text-decoration: none;
  text-shadow: 1px 1px 10px white;
  color: var(--textColor);
  font-size: 25px;
  top: -100px;
  left: 950px;
}

/* Main Body */

.images > img {
  position: relative;
  top: 150px;
  left: 950px;
  height: 175px;
  width: auto;
}

.pic3,
.pic2 {
  height: 300px !important;
  width: auto;
  box-shadow: 1px 1px 20px black;
}

.pic1 {
  position: relative;
  top: 200px !important;
  left: 250px !important;
  box-shadow: 1px 1px 20px black;
}

.pic4 {
  position: relative;
  top: -60px !important;
  left: 890px !important;
  box-shadow: 1px 1px 20px black;
}

.contact-footer,
h2,
.svg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.shopNow {
  text-decoration: none;
  color: var(--textColor);
  font-size: 90px;
  padding-left: 100px;
  text-shadow: 3px 3px 15px black;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

/* footer */

footer {
  position: relative;
  text-align: center;
  top: 250px;
  color: white;
}

.contact-footer {
  color: rgb(209, 209, 209);
}

.svg,
.svg2 {
  height: 30px;
  width: auto;
  position: relative;
  left: 700px;
  
}

.svg {
  top: -9px;
}

.contact-footer {
  right: 650px;
  text-decoration: none;
  font-size: 25px;
  text-shadow: 1px 1px 15px black;
}

.contact-footer:hover {
  color: dimgrey;
}

@media (max-width: 320px) {
  /* Mobile SMALL*/
}

@media (max-width: 480px) {
  /* Styles for small mobile devices */

  /* Header */
  
  .Title {
    color: var(--textColor);
    font-family: "Sour Gummy", sans-serif;
    text-shadow: 1px 1px 4px white;
    position: relative;
    top: 0px;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
  
  .home-botton {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    position: relative;
    text-align: center;
    top: 0px;
    text-shadow: 1px 1px 15px white;
    font-size: 10px;
    color: var(--textColor);
  }
  
  .Clothing {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 10px white;
    color: var(--textColor);
    font-size: 25px;
    top: -120px;
    left: 500px;
  }
  
  .Nav-bar{
    position: relative;
    top: -40px;
    width: 400px;
  }
  
  .Contact {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 10px white;
    color: var(--textColor);
    font-size: 25px;
    top: -120px;
    left: 810px;
  }
  
  /* Main Body */
  
  .images > img {
    position: relative;
    top: 100px;
    left: 830px;
    height: 175px;
    width: auto;
  }
  
  .pic3,
  .pic2 {
    height: 300px !important;
    width: auto;
    box-shadow: 1px 1px 20px black;
  }
  
  .pic1 {
    position: relative;
    top: 150px !important;
    left: 150px !important;
    box-shadow: 1px 1px 20px black;
  }
  
  .pic4 {
    position: relative;
    top: -140px !important;
    left: 755px !important;
    box-shadow: 1px 1px 20px black;
  }
  
  .shopNow {
    position: relative;
    bottom: 100px;
    text-decoration: none;
    color: var(--textColor);
    font-size: 90px;
    padding-left: 100px;
    text-shadow: 3px 3px 15px black;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
  }
  
  /* footer */
  
  footer {
    position: relative;
    text-align: center;
    top: 20px;
    color: white;
  }
  
  .svg,
  .svg2 {
    height: 30px;
    width: auto;
    position: relative;
    left: 500px;
    
  }
  
  .svg {
    top: -10px;
  }
  
  .contact-footer {
    right: 500px;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 1px 1px 15px black;
  }
}

@media (max-width: 768px) {
  /* Styles for larger phones and small tablets */
}

@media (max-width: 1024px) {
  /* Styles for tablets and smaller laptops */
}



@media only screen and (min-width: 1440px) {
  /* Styles for standard laptops */

  /* Header */
  
  .Title {
    color: var(--textColor);
    font-family: "Sour Gummy", sans-serif;
    text-shadow: 1px 1px 4px white;
    position: relative;
    top: 0px;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
  }
  
  .home-botton {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    position: relative;
    text-align: center;
    top: -35px;
    text-shadow: 1px 1px 15px white;
    font-size: 35px;
    color: var(--textColor);
  }
  
  .Clothing {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 10px white;
    color: var(--textColor);
    font-size: 25px;
    top: -120px;
    left: 500px;
  }
  
  .Nav-bar{
    position: relative;
    top: -80px;
  }
  
  .Contact {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 10px white;
    color: var(--textColor);
    font-size: 25px;
    top: -120px;
    left: 810px;
  }
  
  /* Main Body */
  
  .images > img {
    position: relative;
    top: 100px;
    left: 830px;
    height: 175px;
    width: auto;
  }
  
  .pic3,
  .pic2 {
    height: 300px !important;
    width: auto;
    box-shadow: 1px 1px 20px black;
  }
  
  .pic1 {
    position: relative;
    top: 150px !important;
    left: 150px !important;
    box-shadow: 1px 1px 20px black;
  }
  
  .pic4 {
    position: relative;
    top: -140px !important;
    left: 755px !important;
    box-shadow: 1px 1px 20px black;
  }
  
  .shopNow {
    position: relative;
    bottom: 100px;
    text-decoration: none;
    color: var(--textColor);
    font-size: 90px;
    padding-left: 100px;
    text-shadow: 3px 3px 15px black;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
  }
  
  /* footer */
  
  footer {
    position: relative;
    text-align: center;
    top: 20px;
    color: white;
  }
  
  .svg,
  .svg2 {
    height: 30px;
    width: auto;
    position: relative;
    left: 500px;
    
  }
  
  .svg {
    top: -10px;
  }
  
  .contact-footer {
    right: 500px;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 1px 1px 15px black;
  }
  
  }

  @media (min-width: 1441px) {
    /* Styles for large screens */
}

