/* Variable */

:root {
  --backgroundColor: #141616;
  --textColor: #d6d2cd;
}

/* body */

body {
  background: url(/src/img/background.jpg);
  background-color: rgba(0, 0, 0, 0.995);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */

.Title {
  color: var(--textColor);
  font-family: "Sour Gummy", sans-serif;
  text-shadow: 0.1em 0.1em 0.25em white;
  position: relative;
  top: 100%;
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}

h2:hover {
  cursor: pointer;
}

.home-botton {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  position: relative;
  text-align: center;
  top: -0.5em;
  text-shadow: 0.1em 0.1em 1em white;
  font-size: 2.2em;
  color: var(--textColor);
}

.Clothing {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  position: relative;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.75em white;
  color: var(--textColor);
  font-size: 1.6em;
  top: -5em;
  left: 35vw;
}

.Nav-bar {
  position: relative;
  top: -3em;
}

.Contact {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  position: relative;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.75em white;
  color: var(--textColor);
  font-size: 1.6em;
  top: -5em;
  left: 54vw;
}

.Clothing:hover,
.Contact:hover,
.shopNow:hover {
  color: white;
}



/* Main Body */

.images > img {
  position: relative;
  top: 8em;
  left: 50vw;
  height: 10em;
  width: auto;
}

.pic3,
.pic2 {
  height: 18em !important;
  width: auto;
  box-shadow: 0.1em 0.1em 1.25em black;
}

.pic1 {
  position: relative;
  top: 12.5em !important;
  left: 15vw !important;
  box-shadow: 0.1em 0.1em 1.25em black;
}

.pic4 {
  position: relative;
  top: -3.75em !important;
  left: 47vw !important;
  box-shadow: 0.1em 0.1em 1.25em black;
}

.contact-footer,
h2,
.svg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.shopNow {
  text-decoration: none;
  color: var(--textColor);
  font-size: 5.625em;
  padding-left: 5vw;
  text-shadow: 0.2em 0.2em 0.95em black;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

/* footer */

footer {
  position: relative;
  text-align: center;
  top: 15em;
  color: white;
}

.contact-footer {
  color: rgb(209, 209, 209);
}

.svg,
.svg2 {
  height: 2em;
  width: auto;
  position: relative;
  left: 35vw;
}

.svg {
  top: -0.5em;
}

.contact-footer {
  right: 40vw;
  text-decoration: none;
  font-size: 1.6em;
  text-shadow: 0.1em 0.1em 1em black;
}

.contact-footer:hover {
  color: dimgrey;
}


/* Iphone SE */
@media (max-width: 375px) and (max-height: 667px){
 /* Header */
  
.Title {
  top: 100%;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}


.home-botton {
  top: 0em;
  font-size: 1.5em;
}

.Clothing {
  font-size: 1em;
  top: -4em;
  left: 16vw;
}

.Nav-bar {
  position: relative;
  top: -3em;
}

.Contact {
  font-size: 1em;
  top: -4em;
  left: 45vw;
}

/* Main Body */

.images > img {
  top: 2em;
  left: 53vw;
  height: 4em;
  width: auto;
}

.pic3,
.pic2 {
  height: 5em !important;
  width: auto;
}

.pic1 {
  top: 4em !important;
  left: -3vw !important;
}

.pic4 {
  top: -1em !important;
  left: 45vw !important;
}

.shopNow {
  font-size: 2em;
  padding-left: 0vw;
}

/* footer */

footer {
  top: 15em;
}

.svg,
.svg2 {
  height: 1em;
  width: auto;
  position: relative;
  left: 6vw;
}

h2 {
  font-size: 1em;
}
.svg {
  top: -0.3em;
}


.contact-footer {
  right: 10vw;
  font-size: 1em;
}

}

/* Iphone XR */
@media (max-width: 414px) and (max-height: 896px){
 /* Header */
  
.Title {
  top: 100%;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}


.home-botton {
  top: 0em;
  font-size: 1.5em;
}

.Clothing {
  font-size: 1em;
  top: -4em;
  left: 16vw;
}

.Nav-bar {
  position: relative;
  top: -3em;
}

.Contact {
  font-size: 1em;
  top: -4em;
  left: 45vw;
}

/* Main Body */

.images > img {
  top: 6em;
  left: 20vw;
  height: 7em;
  width: auto;
}

.pic3,
.pic2 {
  height: 10em !important;
  width: auto;
}

.pic1 {
  top: 2em !important;
  left: 10vw !important;
}

.pic4 {
  top: -1em !important;
  left: 10vw !important;
}

.shopNow {
  position: relative;
  top: 1.4em;
  font-size: 3.5em;
  left: 2vw;
}

/* footer */

footer {
  top: 20em;
}

.svg,
.svg2 {
  height: 1em;
  width: auto;
  position: relative;
  left: 6vw;
}

h2 {
  font-size: 1em;
}
.svg {
  top: -0.3em;
}


.contact-footer {
  right: 10vw;
  font-size: 1em;
}

}

/* Iphone 12 pro */

@media (max-width: 390px) and (max-height: 844px){
  /* Header */
  
.Title {
  top: 100%;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}


.home-botton {
  top: 0em;
  font-size: 1.5em;
}

.Clothing {
  font-size: 1em;
  top: -4em;
  left: 16vw;
}

.Nav-bar {
  position: relative;
  top: -3em;
}

.Contact {
  font-size: 1em;
  top: -4em;
  left: 45vw;
}

/* Main Body */

.images > img {
  top: 6em;
  left: 15vw;
  height: 7em;
  width: auto;
}

.pic3,
.pic2 {
  height: 10em !important;
  width: auto;
}

.pic1 {
  top: 2em !important;
  left: 6vw !important;
}

.pic4 {
  top: -1em !important;
  left: 1vw !important;
}

.shopNow {
  position: relative;
  top: 1.4em;
  font-size: 3.5em;
  left: 2vw;
}

/* footer */

footer {
  top: 17em;
}

.svg,
.svg2 {
  height: 1em;
  width: auto;
  position: relative;
  left: 6vw;
}

h2 {
  font-size: 1em;
}
.svg {
  top: -0.3em;
}


.contact-footer {
  right: 10vw;
  font-size: 1em;
}
}

/* Iphone 14 Pro Max */
@media (max-width: 430px) and (max-height: 932px){
 
}

/* Pixel 7 */
@media (max-width: 412px) and (max-height: 915px){
 
}

/* Samsung Galaxy S8+ */
@media (max-width: 360px) and (max-height: 740px){
 
}

/* Samsung Galaxy S20 Ultra */
@media (max-width: 412px) and (max-height: 915px){
 
}

/* iPad Mini */
@media (max-width: 768px) and (max-height: 1024px){
 
}

/* iPad Air */
@media (max-width: 820px) and (max-height: 1180px){
 
}

/* iPad pro */
@media (max-width: 1024px) and (max-height: 1366px){
 
}

/* Surface pro 7 */
@media (max-width: 912px) and (max-height: 1368px){
 
}

/* Surface duo*/
@media (max-width: 540px) and (max-height: 720px){
 
}

/* Galaxy Z fold*/
@media (max-width: 344px) and (max-height: 882px){
 
}

/* Galaxy Z fold*/
@media (max-width: 853px) and (max-height: 1280px){
 
}

/*Samsung Galaxy A51/71*/
@media (max-width: 412px) and (max-height: 914px){
 
}

/*Nest Hub*/
@media (max-width: 1024px) and (max-height: 600px){
 
}

/*Nest Hub Max*/
@media (max-width: 1280px) and (max-height: 800px){
 
}